html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 16px;
  position: sticky;
  top: 0;
  border: 1px solid white;
  background-color: white;
  border-bottom: 2px solid;
}

nav a {
  text-decoration: none;
}
header nav > a {
  margin-right: 16px;
}

header nav > a:last-child {
  margin-right: revert;
}

nav > a:hover {
  text-decoration: underline;
}

nav a:visited {
  color: royalblue;
}

.container {
  padding: 16px;
}

.container > section > h2 {
  text-align: center;
}

.intro {
  padding: 16px;
  margin: -16px;
  background-color: #1d1c1c;
  color: white;
  text-align: center;
}

#profile-image{
  border-radius: 16px;
  width: 300px;
  height: 300px;
}

.social-links img {
  width: 30px;
  height: 30px;
}

.social-links a {
  text-decoration: none;
  margin: auto 16px;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
}

table,tr,th,td{
  border: 1px solid;
  border-collapse: collapse;
}
th,td {
  padding: 8px;
}
table {
  width: 100%;
}

.dynamic-text-color {
  color: royalblue;
}

form#contact {
  max-width: 400px;
  margin: auto;
  padding: 16px;
  border: 1px solid;
  border-radius: 16px;
}

#contact label {
  display: block;
  font-weight: 600;
}

#contact input, #contact textarea, #contact button{
  width: 100%;
  font-size: 1.2rem;
  padding: 8px;
}

#contact-me {
  margin-top: 16px;
}

footer {
  padding: 16px;
  border-top: 2px solid black;
  text-align: center;
}

.mobile-nav, section.menu {
  display: none;
}

@media (width < 500px) {
  .default-nav {
    display: none;
  }
  .mobile-nav {
    display: revert;
  }
  #menu-btn {
    display: block;
    background: transparent;
    border-radius: 8px;
    margin-left: auto;
  }
  section.menu {
    display: revert;
    margin-left: -17px;
    height: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    background: white;
    z-index: 1;
  }
  section.menu ul {
    list-style: none; 
  }
  section.menu ul > li {
    margin-bottom: 16px;
    font-size: 1.5rem;
  }
  section.menu nav {
    margin-top: 48px;
  }
  #close-menu {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: x-large;
    border: none;
    background: transparent;
  }
}

@media (width <= 332px) {
  #profile-image {
    width: 100%;
  }
}

